<div class="container box_styling">
  <h1>Edit user</h1>
  <%= form_for(@user) do |u| %>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> prohibited
              this user from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="edit-container">

      <p>
        <%= u.label "First Name" %><br>
        <%= u.text_field :firstName %>
      </p>

      <p>
        <%= u.label "last Name" %><br>
        <%= u.text_field :lastName %>
      </p>

      <p>
        <%= u.label "email address" %><br>
        <%= u.text_field :email %>
      </p>

      <p>
        <%= u.label "phone number" %><br>
        <%= u.text_field :phoneNumber %>
      </p>


      <p>
        <%= u.submit %>
      </p>

  <% end %>

  <%= button_to 'Back', users_path %>
  </div>

</div>
